* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

button::-mooz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

body {
  background: url("https://image.freepik.com/free-photo/pastel-watercolor-texture-background_1083-168.jpg?1") center/cover;
  padding-top: 150px;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.constructor {
  padding: 15px;
}

.constructor,
.ToDoList {
  background-color: #94d6ba;
  border-radius: 15px;
  margin: 5px 0;
}

.ToDoList {
  padding: 15px 0;
}

.constructor__title,
.list__title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.list__title {
  font-size: 18px;
}

.constructotr__input {
  padding: 7px 14px;
  margin: 20px 0 15px;
  width: 100%;
  border-radius: 15px;
  font-size: 16px;
}

.constructotr__input:focus::-moz-placeholder {
  color: transparent;
}

.constructotr__input:focus:-ms-input-placeholder {
  color: transparent;
}

.constructotr__input:focus::placeholder {
  color: transparent;
}

.constructor__btn {
  padding: 7px 14px;
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
  font-family: inherit;
  color: white;
  background-color: #4b6154;
  box-shadow: 0 3px #2a362f;
  transition: all .1s ease-in-out;
}

.constructor__btn:hover {
  background-color: #405348;
}

.constructor__btn:active {
  transform: translateY(3px);
  box-shadow: 0 0 #2a362f;
}

.constructor__options {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.constructor__options span{
  color: black;
  margin-left: 5px;
}

.constructor__options input{
  background-color: #2a362f;
  border-radius: 15px;
  text-align: center;
  color: white;
  margin-left: 5px;
}

.constructor__options input::placeholder {
  color: white;
}

.list__item {
  font-size: 16px;
  display: flex;
  color: #4b6154;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #64ac8f;
  padding: 5px 15px;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.list__item:hover {
  background-color: #e7f5dc;
}

.list__item.checked {
  background-color: #e7f5dc;
  color: #9ab9a6;
  text-decoration: line-through;
}

.list__item__content {
  flex: 1 1 100%;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.delete,
.change {
  width: 15px;
  margin-right: 15px;
  transition: all .2s ease-in-out'
}

.delete:hover {
  transform: scale(1.1);
}

.border{
  border: 2px solid red !important;
}